<table style="width:100%">
    <caption style="caption-side:top;text-align:center">Place Order</caption>
    <tr>
        <td style="width:50%">
            <table style="width:100%">
                <caption style="caption-side:top;background-color: azure;font-weight: bold;">Shipping</caption>
                <tr>
                    <td>{{user.firstName}} {{user.lastName}}</td>
                </tr>
                <tr>
                    <td> </td>
                    <td><a href="url">edit</a></td>
                </tr>
            </table>

            <table style="width:100%">
                <caption style="caption-side:top;background-color: azure;font-weight: bold;">Billing</caption>
                <tr>
                    <td>Visa xxxx-9850 Gebre</td>
                </tr>
                <tr>
                    <td>{{shAddress[0].country}} {{shAddress[0].city}} {{shAddress[0].street}} </td>
                    <td><a href="url">edit</a></td>
                </tr>
            </table>
        </td>
        <td style="width:50%">
            <table style="width:100%;margin-left: 20px;">
                <caption style="caption-side:top;background-color: azure;font-weight: bold;">Order Summary</caption>
                <tr>
                    <td>Visa xxxx-9850 Gebre</td>
                </tr>
                <tr>
                    <td>tax:</td>
                    <td>{{tax}}</td>
                </tr>
                <tr>
                    <td>Shipping charge</td>
                    <td>{{shippingCharge}}</td>
                </tr>
                <tr>
                    <td>Order Total</td>
                    <td>{{totalPrice}}</td>
                </tr>
                <tr>
                    <td colspan="2"><button (click)="placeOrder()" style="background-color:orange;width: 50%;">Place Order</button></td>

                </tr>
            </table>
        </td>
    </tr>
</table>
