<form [formGroup]="userService.loginForm" (ngSubmit)="userService.loginForm && onSubmit(userService.loginForm)" autocomplete="off">

    <mat-grid-list cols="2" rowHeight="400px">
        <mat-grid-tile>
            <div class="controles-container">
                <mat-form-field>
                    <input formControlName="email" matInput placeholder="Email Address">
                    <mat-error>Enter a valid email address!</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="password" type="password" matInput placeholder="Password">
                </mat-form-field>
                <div>
                    <button mat-raised-button color="primary" type="submit" [disabled]="userService.loginForm.invalid">SignIn</button> |
                    <button mat-stroked-button color="accent" (click)="onSignUp()">Register</button>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile><img src="https://b.kisscc0.com/20180705/rtq/kisscc0-youtube-computer-icons-download-blog-business-man-working-5b3d9eeedc2531.9577404315307650389017.png" width="300px" height="300px" alt=""></mat-grid-tile>
    </mat-grid-list>
</form>