<nav>
    <ul>
        <!-- <li><a [routerLink]="['home']" routerLinkActive="router-link-active" >Home</a></li> -->
        <li><a href="#">Home</a></li>
        <li><a href="#">Computer</a> </li>
        <li><a href="#">Mobile</a></li>
        <li><a href="#">Tv&Entertainment</a></li>
        <li><a href="#">Serveillance</a></li>
        <li><a href="#">Photography</a></li>
        <li><a href="#">Used</a></li>
        <li>
            <a routerLink="/cart">
                <i class="fas fa-shopping-cart"></i> Cart
            </a>
        </li>
    </ul>
</nav>
