<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Computer</a> </li>
        <li><a href="#">Mobile</a></li>
        <li><a href="#">Tv&Entertainment</a></li>
        <li><a href="#">Serveillance</a></li>
        <li><a href="#">Photography</a></li>
        <li><a href="#">Used</a></li>
        <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart
            <span class="badge">5</span></a></li>
        <li><a [routerLink]="['users','signin']"><i class="fa fa-user-circle"></i></a></li>
    </ul>
</nav>