<h3> Ordered Items</h3>

<mat-table [dataSource]="dataSource" class="mat-elevation-z2" matSort>
    <ng-container matColumnDef="orderId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> OrderId </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element._id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="items">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Item Details </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <ul type="none">
                <li *ngFor="let item of element.items">
                    <img src="{{item.imageUrl}}" width="200px" height="100px"> <br>
                    <b>{{item.productName}}</b> <br>
                    <b>Price:</b> $ {{item.unitPrice}} <br>
                    <b>Quantity:</b>{{item.quantity}} <br>
                    <b>Subtotal:</b>{{item.quantity*item.unitPrice}}<br></li>
            </ul>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="totalPrice">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Total Price </mat-header-cell>
        <mat-cell *matCellDef="let element"> <b>Total :</b> ${{element.totalPrice}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="orderedDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Ordered Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.orderDate}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> <br>
            <form [formGroup]="form" (ngSubmit)="changeOrderStatus(form)">
                <mat-form-field>
                    <mat-select formControlName="status" placeholder="Status" required>
                        <mat-option value="{{element._id}} Shipped">Shipped </mat-option>
                        <mat-option value="{{element._id}} Delivered">Delivered </mat-option>
                    </mat-select>
                </mat-form-field>
                <div>
                    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Change</button>
                </div>
                <label for="">{{element.status}}</label>
            </form>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-raised-button color="warn" (click)="onCancel(element._id)">Cancel</button>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
            <!-- {{orders?.length > 0}} -->
            Loading products ...
        </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': dataSource!=null}"></mat-footer-row>

</mat-table>