<div class="mat-elevation-z2">
    <form [formGroup]="addressService.addressForm" class="my-form" (ngSubmit)="addressService.addressForm && onSubmit(addressService.addressForm)">
        <mat-grid-list cols="2" rowHeight="450px">
            <mat-grid-tile>
                <div class="controles-container">
                    <mat-form-field>
                        <input formControlName="country" matInput placeholder="Enter country">
                        <mat-error>Country cannot be empty!</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="state" matInput placeholder="Enter state">
                        <mat-error>State cannot be empty!</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="city" matInput placeholder="Enter city">
                        <mat-error>City cannot be empty!</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="zip" matInput placeholder="Enter  zip code" type="number">
                        <mat-error>Enter a valid email address!</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="street" matInput placeholder="Enter street">
                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="accent" type="submit" [disabled]="addressService.addressForm.invalid">Register</button>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>image</mat-grid-tile>
        </mat-grid-list>
    </form>
</div>