<div id="myfooter" class="container">
    <div class="row">
        <div class="col-lg-3 col-12">
            <h4 class="font-size-20">Home</h4>
            <p class="font-size-14 text-white-50">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus soluta totam ipsam eius possimus, reprehenderit qui, porro voluptatum explicabo consectetur itaque ipsum nam similique voluptas, architecto nostrum a pariatur. Laudantium!</p>
        </div>
        <div class="col-lg-4 col-12">
            <h4 class="font-size-20">News</h4>
            <form class="form-row">
                <div class="col">
                    <input type="text" name="email" id="" class="form-control">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
        <div class="col-lg-2 col-12">
            <h4 class="font-size-20">Short Links</h4>
            <div class="d-flex flex-column flex-wrap">
                <a href="#" class="text-white">some link</a>
                <a href="#" class="text-white">some link</a>
                <a href="#" class="text-white">some link</a>
                <a href="#" class="text-white">some link</a>
            </div>
        </div>
        <div class="col-lg-2 col-12">
            <h4 class="font-size-20">My Account</h4>
            <div class="d-flex flex-column flex-wrap">
                <a href="#" class="text-white">Change Password</a>
                <a href="#" class="text-white">some other link</a>
                <a href="#" class="text-white">some link</a>
                <a href="#" class="text-white">some link</a>
            </div>
        </div>
    </div>
</div>