<!-- <div class="row" style="padding-top: 20px;">

    <div class="col-md-3 col-sm-6" *ngFor="let item of items">
        <div class="product-grid">
            <div class="product-image">
                <a href="#">
                    <img class="pic-1" src="{{item.itemImage1}}" alt="i-phone">
                    <img class="pic-2" src="{{item.itemImage2}}" alt="i-phone2">
                </a>
                <span class="product-trend-label">
                    {{item.trending}}
                </span>
                <ul class="social">
                    <!-- (click)="addTocart(item.itemid)" (click)="addTocart(item.itemid)" -->
<!-- <li><button data-tip="Add to cart"><i class="fa fa-shopping-cart">Remove cart</i></button></li>
                </ul>
            </div>
            <div class="product-content">
                <h3 class="title"> <a href="#">{{item.itemname}}</a></h3>
                <div class="price"> {{item.itemprice}}</div>
            </div>
        </div>
    </div>
</div>  -->
<h1>Customer cartttttt</h1>

<button (click)="checkout()">Checkout </button>