<h1> Items in the cart</h1>
<table class="mat-elevation-z2 table table-striped" style="width: 100%;">
    <thead>
        <tr>
            <th>Product </th>
            <th>Details</th>
            <th>subtotal</th>
            <th>Action</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <td><img src="{{item.imageUrl}}" width="280" height="150" alt=""> </td>
            <td>Name:{{item.productName}}<br> UnitPrice : ${{item.unitPrice}}<br> Quantity :{{item.quantity}}
            </td>
            <td>${{item.unitPrice * item.quantity}}</td>
            <td> <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="removeFromCart(item)">
              <mat-icon>delete</mat-icon>
            </button> </td>
        </tr>
    </tbody>
</table>
<div *ngIf="items?.length > 0; else empty">
    <h5 style="display: inline;">Total: {{total | currency}}</h5>
    <!-- <button (click)="checkout()" class="btn btn-warning float-right">Checkout</button> -->
    <div style="float: right;">
        <button mat-raised-button color="primary" (click)="checkout()">Procced to Checkout</button>
    </div>
</div>
<ng-template #empty>
    <h4 class="text-muted text-center">Cart is empty. Go to get something! :)</h4>
</ng-template>

<!-- <div style="float: right;">
    <button mat-raised-button color="primary" (click)="checkout()">Procced to Checkout</button>
</div> -->
